@page
@model SemanticBackup.WebClient.Pages.BackupSchedules.IndexModel
@{
    ViewData["Title"] = "Database Backups Schedules | All";
}
<div class="container pd-x-0">
    <div class="ui container">
         <a class="btn btn-primary" asp-page="/DatabaseBackupSchedules/RegisterSchedule">Setup new Schedule</a>
        <div class="ui header large">Database Backup Schedules</div>
        <div class="ui divider"></div>

       <div class="ui attached segment">
            <div class="ui header small">List of Backup Schedules</div>
        </div>
        <table class="ui basic selectable table segment attached">
            <thead>
                <tr>
                    <th>#</th>
                    <th class="warning" style="font-weight:bold">Name</th>
                    <th>Schedule Type</th>
                    <th>Every Hours</th>
                    <th>Last Run</th>
                    <th>Next Run</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int count = 0;
                    if (Model.BackupSchedulesResponse != null && Model.BackupSchedulesResponse.Count > 0)
                        foreach (var record in Model.BackupSchedulesResponse)
                        {
                            count++;
                            <tr onclick="location.href='/databasebackupschedules/@(record.Id)'">
                                <td>@string.Format("{0:N0}", count)</td>
                                <td class="positive" style="font-weight:bold;font-size:14px"> <i class="clock icon"></i> @record.Name</td>
                                <td class="warning" style="font-weight:bold">@record.ScheduleType</td>
                                <td>@string.Format("{0:N0}HRS", record.EveryHours)</td>
                                <td>@string.Format("{0:yyyy-MM-dd hh:mm tt}", record.LastRun)</td>
                                <td>@string.Format("{0:yyyy-MM-dd hh:mm tt}", record.NextRun)</td>
                            </tr>
                        }
                    else
                    {
                        <tr>
                            <td colspan="6" style="text-align:center">
                                <div class="ui message small warning"><div>To Data Available</div></div>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>