@page "/resource-groups/{resourceGroupId}/database-backups"
@model SemanticBackup.Pages.ResourceGroups.DatabaseBackups.IndexModel
@{
    ViewData["Title"] = "Database Backups | All";
}
<div class="container pd-x-0">
    <div class="ui container">

        <div class="ui header large">Database Backups</div>
        <div class="ui divider"></div>

        <div class="ui attached segment">
            <div class="ui header small">List of Database Backups</div>
        </div>
        <table class="ui basic selectable small table segment attached">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Backup Date</th>
                    <th>Last Updated</th>
                    <th>Avg. Speed</th>
                    <th>Backup Status</th>
                </tr>
            </thead>
            <tbody id="records_data_table">
                @{
                    if (Model.BackupRecordsResponse != null && Model.BackupRecordsResponse.Count > 0)
                        foreach (var record in Model.BackupRecordsResponse)
                        {
                            <tr id="record_for_@(record.Id)" onclick="location.href='/resource-groups/@(Model.CurrentResourceGroup.Key)/database-backups/details/@(record.Id)'">
                                <td><a style="font-weight:bold" href="/resource-groups/@(Model.CurrentResourceGroup.Key)/database-backups/details/@(record.Id)">&#x23;@(record.Id)</a></td>
                                <td class="positive" style="font-weight:bold;font-size:12px"> <i class="cloud upload icon"></i> @record.Name</td>
                                <td class="warning" style="font-weight:bold">@(string.Format("{0:yyyy-MM-dd HH:mm}", record.RegisteredDateUTC.AdjustWithTimezoneOffset(User.GetUserTimeZoneOffset())))</td>
                                <td class="last_status_update_for_@(record.Id) use-time-ago" use-time-ago-value="@(record.StatusUpdateDateUTC.AdjustWithTimezoneOffset(User.GetUserTimeZoneOffset()))" style="font-weight:bold">@string.Format("{0:yyyy-MM-dd HH:mm}", record.StatusUpdateDateUTC.AdjustWithTimezoneOffset(User.GetUserTimeZoneOffset()))</td>
                                <td class="execution_milliseconds_for_@(record.Id)">@record.ExecutionMilliseconds</td>

                                @{
                                    if (record.BackupStatus == "EXECUTING")
                                    {
                                        <td class="event_status_for_@(record.Id)"> <span class="ui label small basic blue"><i class="notched circle loading icon"></i>@record.BackupStatus</span>  </td>
                                    }
                                    else if (record.BackupStatus == "COMPLETED")
                                    {
                                        <td class="event_status_for_@(record.Id)"> <span class="ui label small basic teal"><i class="notched circle loading icon"></i>VALIDATING</span>  </td>
                                    }
                                    else if (record.BackupStatus == "COMPRESSING")
                                    {
                                        <td class="event_status_for_@(record.Id)"> <span class="ui label small basic olive"><i class="notched circle loading icon"></i>@record.BackupStatus</span>  </td>
                                    }
                                    else if (record.BackupStatus == "READY")
                                    {
                                        <td class="event_status_for_@(record.Id)"><span class="ui label small basic green"><i class="file archive icon"></i>BACKUP COMPLETED</span>  </td>
                                    }
                                    else if (record.BackupStatus == "ERROR")
                                    {
                                        <td class="event_status_for_@(record.Id)"><span class="ui label small basic red"><i class="exclamation circle icon"></i>@record.BackupStatus</span>  </td>
                                    }
                                    else
                                    {
                                        <td class="event_status_for_@(record.Id)">  <span class="ui label small basic"><i class="info icon"></i>@record.BackupStatus</span>  </td>
                                    }
                                }

                            </tr>
                        }
                    else
                    {
                        <tr>
                            <td colspan="6" style="text-align:center">
                                <div class="ui message small warning"><div>To Data Available</div></div>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>