@page "/account"
@model SemanticBackup.Pages.Account.IndexModel
@{
    ViewData["Title"] = "Account";
    Layout = "_Layout";
}
<div class="content">
    <div class="text container">
        <h4 class="ui primary header">My Account</h4>
        <div class="ui divider"></div>


        <form method="post" class="ui segment attached form" onsubmit="$(this).addClass('loading');">
            <section>

                @{
                    if (Model.Status == "Failed")
                    {
                        <div class="ui warning tiny message">Unable to update account details</div>
                    }
                    else if (Model.Status == "Success")
                    {
                        <div class="ui green tiny message"> Account details updated Successfully!</div>
                    }
                    else if (!string.IsNullOrEmpty(Model.Status))
                    {
                        <div class="ui red tiny message">@Model.Status</div>
                    }
                }
                <div class="field">
                    <label>Full Name</label>
                    <input asp-for="UserAccountRequest.FullName" placeholder="My Full Name..." />
                </div>

                <div class="field">
                    <label>Email Address</label>
                    <input asp-for="UserAccountRequest.EmailAddress" placeholder="My Email Address...">
                </div>


                <div class="field">
                    <label>Timezone Preference</label>
                    <select asp-for="UserAccountRequest.TimezoneId" class="ui fluid search small dropdown timezone-dropdown-search" required>
                        @{
                            if (Model._systemTimeZones != null && Model._systemTimeZones.Count > 0)
                            {
                                foreach (var timezone in Model._systemTimeZones)
                                {
                                    if (Model.UserAccountRequest.TimezoneId == timezone.Id)
                                    {
                                        <option selected value="@(timezone.Id)">@timezone.ToTimezoneWithOffsetString()</option>
                                    }
                                    else
                                    {
                                        <option value="@(timezone.Id)">@timezone.ToTimezoneWithOffsetString()</option>
                                    }
                                }
                            }
                        }
                    </select>
                </div>

                <div></div>
                <div class="two warning fields">

                    <div class="field">
                        <label>New Password</label>
                        <input asp-for="UserAccountRequest.NewPassword" placeholder="To change password, Enter new Password">
                    </div> 
                    
                    <div class="field">
                        <label>Confirm New Password</label>
                        <input asp-for="UserAccountRequest.ConfirmNewPassword" placeholder="To change password, Confirm new Password">
                    </div>

                </div>
                <button type="submit" class="btn btn-primary">Update Details</button>
            </section>
        </form>



    </div>
</div>
@section Scripts{
    <script type="text/javascript">
        $(".dropdown").dropdown({ allowAdditions: false });
    </script>
}