@page
@model SemanticBackup.WebClient.Pages.Databases.IndexModel
@{
    ViewData["Title"] = "Databases | All";
}
<div class="container pd-x-0">
    <div class="ui container">

        <div class="ui header large">Registered Databases</div>
        <div class="ui divider"></div>

        <table class="ui selectable table">
            <thead>
                <tr>
                    <th>#</th>
                    <th class="warning" style="font-weight:bold">Database</th>
                    <th>Server</th>
                    <th>Type</th>
                    <th>Expires After</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @{
                    int count = 0;
                    if (Model.DatabaseResponse != null && Model.DatabaseResponse.Count > 0)
                        foreach (var record in Model.DatabaseResponse)
                        {
                            count++;
                            <tr onclick="location.href='/databases/@(record.Id)'" title="Click to View Database Info">
                                <td>@string.Format("{0:N0}", count)</td>
                                <td class="positive" style="font-weight:bold;font-size:14px"> <i class="database icon"></i> @record.DatabaseName</td>
                                <td>@record.Server</td>
                                <td>@record.DatabaseType</td>
                                <td>@string.Format("{0:N0}HRS", record.BackupExpiryAgeInDays)</td>
                                <td><a href="/databases/@(record.Id)" class="ui small blue label"><i class="info icon"></i>View Info</a></td>
                            </tr>
                        }
                    else
                    {
                        <tr>
                            <td colspan="6" style="text-align:center">
                                <div class="ui message small warning"><div>To Data Available</div></div>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>