<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Meta -->
    <meta name="description" content="SEMANTIC BACKUP | BACKUP CLIENT">
    <meta name="author" content="CRUDSOFT TECHNOLOGIES">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.png">

    <title>@ViewData["Title"]</title>

    <!-- vendor css -->
    <link href="/lib/fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="/lib/ionicons/css/ionicons.min.css" rel="stylesheet">

    <!-- Formantic UI -->
    <link rel="stylesheet" href="/lib/formantic/semantic.min.css">



    <!-- DashForge CSS -->
    <link rel="stylesheet" href="/assets/css/dashforge.css">
    <link rel="stylesheet" href="/assets/css/dashforge.dashboard.css">

    @RenderSection("Styles", required: false)
</head>
<body>

    <aside class="aside aside-fixed">
        <div class="aside-header">
            <a href="/" class="aside-logo">Semantic <span> Backup</span></a>
            <a href="" class="aside-menu-link">
                <i data-feather="menu"></i>
                <i data-feather="x"></i>
            </a>
        </div>
        <div class="aside-body">

            <div class="aside-loggedin">
                @{
                    //** default param
                    string activeResourceGroupId = "#";
                    //get resource groups
                    if (User.Identity.IsAuthenticated)
                    {
                        List<ResourceGroup> allResourceGroups = await _injectedResourceGroupService.GetAllAsync();
                        ResourceGroup activeDirectory = allResourceGroups.GetDefaultGroup();
                        activeResourceGroupId = (activeDirectory != null) ? activeDirectory.Key : "#";
                        if (allResourceGroups != null && allResourceGroups.Count > 0)
                        {

                            <div class="aside-loggedin-user">
                                <a href="#loggedinMenu" class="d-flex align-items-center justify-content-between mg-b-2" data-toggle="collapse">
                                    <span class="ui basic yellow label bottom pointing" title="Directory: @(activeDirectory.Name) (Active)">@(activeDirectory.Name)</span>
                                    <i data-feather="chevron-down"></i>
                                </a>
                            </div>


                            <div class="collapse" id="loggedinMenu">
                                <p class="tx-color-03 tx-12 mg-b-0">Switch Resource Group</p>
                                <ul class="nav nav-aside mg-b-0">
                                    @{
                                        foreach (ResourceGroup directory in allResourceGroups)
                                        {
                                            string class_style = "";
                                            if (activeDirectory.Id == directory.Id)
                                            {
                                                class_style = "active";
                                            }
                                            <li class="nav-item @(class_style)"><a href="/resource-groups/switch/@(directory.Id)" class="nav-link"><i data-feather="grid"></i> <span>@(directory.Name)</span></a></li>
                                        }
                                    }
                                    <li class="nav-item"><a href="/resource-groups/create" class="nav-link"><i data-feather="plus"></i> <span>(Add Resource Group)</span></a></li>
                                </ul>
                            </div>
                        }
                        else
                        {
                            <ul class="nav nav-aside mg-b-0">
                                <li class="nav-item"><a href="/resource-groups/create" class="nav-link"><i data-feather="plus"></i> <span>(Add Resource Group)</span></a></li>
                            </ul>
                            <script type="text/javascript">
                                location.href="/resource-groups/";
                            </script>
                        }

                    }
                }
            </div>


            <!-- aside-loggedin -->
            <ul class="nav nav-aside">
                @{
                    if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-label">Dashboards</li>
                        <li class="nav-item active"><a href="/resource-groups/@(activeResourceGroupId)/dashboard")" class="nav-link"><i data-feather="globe"></i> <span>Dashboard</span></a></li>

                        <li class="nav-label mg-t-25">Backup Menu</li>

                        <li class="nav-item"><a href="/resource-groups/@(activeResourceGroupId)/databases" class="nav-link"><i data-feather="database"></i> <span>Databases</span></a></li>
                        <li class="nav-item"><a href="/resource-groups/@(activeResourceGroupId)/scheduled-backups" class="nav-link"><i data-feather="clock"></i> <span>Scheduled Backups</span></a></li>
                        <li class="nav-item"><a href="/resource-groups/@(activeResourceGroupId)/database-backups" class="nav-link"><i data-feather="upload-cloud"></i> <span>Database Backups</span></a></li>


                        <li class="nav-label mg-t-25">RESOURCE GROUPS</li>
                        <li class="nav-item"><a href="/resource-groups/create" class="nav-link"><i data-feather="plus"></i> <span>Create Resource Group</span></a></li>
                        <li class="nav-item"><a href="/resource-groups/" class="nav-link"><i data-feather="grid"></i> <span>Manage Resource Groups</span></a></li>

                        <li class="nav-item with-sub">
                            <a href="" class="nav-link"><i data-feather="edit"></i> <span>System Integrations</span></a>
                            <ul>
                                <li><a href="/webhooks">Webhooks</a></li>
                                <li><a href="/">Live signalR updates</a></li>
                            </ul>
                        </li>

                    }
                }

                @{
                    <li class="nav-label mg-t-25">Account</li>
                    if (!User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item"><a href="/account/login" class="nav-link"><i data-feather="log-in"></i> <span>Sign In</span></a></li>
                    }
                    else
                    {
                        <li class="nav-item"><a href="/account" class="nav-link"><i data-feather="user"></i> <span>My Account</span></a></li>
                        <li class="nav-item"><a href="/account/logout" class="nav-link"><i data-feather="log-out"></i> <span>Sign Out</span></a></li>
                    }
                }

            </ul>
        </div>
    </aside>
    <div class="content ht-100v pd-0">
        <div class="content-header">
            <div class="content-search">
                <i data-feather="search"></i>
                <input type="search" class="form-control" placeholder="Search...">
            </div>
            <nav class="nav">
                @{
                    if (User.Identity.IsAuthenticated)
                    {
                        <a href="/account" class="nav-link active"><i data-feather="user"></i> <span class="ui basic blue label left pointing">@(User.Identity?.Name)</span></a>
                    }
                    else
                    {
                        <a href="/Account/Login" class="btn btn-buy"><i data-feather="log-in"></i> <span>Sign in</span></a>
                    }
                }
            </nav>
        </div><!-- content-header -->

        <div class="content-body" style="background: #FAFAFA">

            <!--page content-->
            @RenderBody()
            <!--End of page content-->

        </div>
        <footer class="footer tva-only-display">
            <div>
                <div class="float-left">
                    Copyright &copy; Crudsoft Technologies
                    <script>
                        document.write(new Date().getFullYear())
                    </script>
                </div>
                <div class="float-right">
                    <a style="margin-left:9px" href="mailto:support@crudsofttechnologies.com"> Help </a>
                </div>
            </div>
        </footer>
    </div>

    <script src="/lib/jquery/jquery.min.js"></script>
    <script src="/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/lib/feather-icons/feather.min.js"></script>
    <script src="/lib/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="/lib/chart.js/Chart.bundle.min.js"></script>
    <script src="/lib/jquery.flot/jquery.flot.js"></script>
    <script src="/lib/jquery.flot/jquery.flot.stack.js"></script>
    <script src="/lib/jquery.flot/jquery.flot.resize.js"></script>

    <script src="/lib/formantic/semantic.min.js"></script>

    <script src="/assets/js/dashforge.js"></script>
    <script src="/assets/js/dashforge.aside.js"></script>
    <script src="/assets/js/dashforge.sampledata.js"></script>

    <script type="text/javascript" src="/assets/js/time-ago.js"></script>

    @RenderSection("Scripts", required: false)


</body>
</html>
