@using Microsoft.AspNetCore.Components
<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Meta -->
    <meta name="description" content="SEMANTIC BACKUP | SIGN IN">
    <meta name="author" content="CRUDSOFT TECHNOLOGIES">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.png">

    <title>@ViewData["Title"]</title>

    <link href="/lib/fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="/lib/ionicons/css/ionicons.min.css" rel="stylesheet">

    <!-- Formantic UI -->
    <link rel="stylesheet" href="/lib/formantic/semantic.min.css">



    <!-- DashForge CSS -->
    <link rel="stylesheet" href="/assets/css/dashforge.css">
    <link rel="stylesheet" href="/assets/css/dashforge.dashboard.css">

    @RenderSection("Styles", required: false)

</head>
<body>
    <header class="navbar navbar-header navbar-header-fixed">
        <a href="#" id="mainMenuOpen" class="burger-menu"><i data-feather="menu"></i></a>
        <div class="navbar-brand">
            <a href="/" class="df-logo">Semantic <span style="margin-left:5px"> Backup</span></a>
        </div><!-- navbar-brand -->
        <div id="navbarMenu" class="navbar-menu-wrapper">
            <div class="navbar-menu-header">
                <a href="/" class="df-logo">Semantic <span style="margin-left:5px"> Backup</span></a>
                <a id="mainMenuClose" href=""><i data-feather="x"></i></a>
            </div>
        </div>

        <!-- navbar-menu-wrapper -->
        <div class="navbar-right">
            <a href="/Account/Login" class="btn btn-buy btn-sm"><i data-feather="log-in"></i> <span>Sign in</span></a>
        </div><!-- navbar-right -->
    </header><!-- navbar -->

    <div class="content-body" style="background: #FAFAFA">

        <div class="ui container" style="margin-top:3%;padding:12px;">

            <!--page content-->
            @RenderBody()
            <!--End of page content-->

        </div>
    </div>
    <footer class="footer">
        <div>
            <div class="float-left">
                Copyright &copy; Semantic Backup
                <script>
                    document.write(new Date().getFullYear())
                </script>
            </div>
            <div class="float-right">
                <a style="margin-left:9px" href="https://github.com/swagfin/semanticbackup">@(Program.AppVersion)</a>
            </div>
        </div>
    </footer>

    <script src="/lib/jquery/jquery.min.js"></script>
    <script src="/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/lib/feather-icons/feather.min.js"></script>
    <script src="/lib/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="/lib/chart.js/Chart.bundle.min.js"></script>
    <script src="/lib/jquery.flot/jquery.flot.js"></script>
    <script src="/lib/jquery.flot/jquery.flot.stack.js"></script>
    <script src="/lib/jquery.flot/jquery.flot.resize.js"></script>

    <script src="/lib/formantic/semantic.min.js"></script>

    <script src="/assets/js/dashforge.js"></script>
    <script src="/assets/js/dashforge.aside.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
